<div class="contents row">
  <div class="container">
    <h3>日記を書く</h3>
    <%= form_with(model: @diary, local: true) do |form| %>
      <%= form.text_field :title, placeholder: "title" %>
      <%= form.file_field :image, id:"image" %>
      <%= form.collection_select(:todays_mood_id, TodaysMood.all, :id, :name, {}, {class:"todays_mood-select"}) %>
      <%= form.collection_select(:todays_weather_id, TodaysWeather.all, :id, :name, {}, {class:"todays_weather-select"}) %>
      <%= form.text_area :text, placeholder: "text", rows: "10" %>
      <%= form.submit "保存する" %>
    <% end %>
  </div>
</div>